# Built binaries
/build
/build_broadwell
# Mac nonsense
.DS_Store
# I have locally compiled rust code to compare
fp2_rs
# Python nonsense
__pycache__
/src/generated
/include/generated
/src/generated_broadwell
/include/generated_broadwell

